<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th class="sortable" (click)="sort('name')">Name</th>
      <th class="sortable" (click)="sort('type')">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>
   <tr *ngFor="let data of satellites">
    <td>{{data.name}}</td>
    <td [class.warning]="data.type === 'Space Debris'">{{data.type}}</td>
    <td>{{data.operational}}</td>
    <td>{{data.orbitType}}</td>
    <td>{{data.launchDate}}</td>
   </tr>
</table>